<nav>
    <div class="nav-wrapper">
        <div class="logo-text">ServiCell Belize</div>

        <div class="hamburger" onclick="toggleMenu()">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <div class="nav-links" id="navLinks">
            <a href="index.html" class="nav-btn">Home</a>
            <a href="about.html" class="nav-btn">About</a>
            <a href="tracker.html" class="nav-btn">Tracker</a>
            <a href="policy.html" class="nav-btn">Policy</a>
            <a href="contact.html" class="nav-btn">Contact</a>
        </div>
    </div>
</nav>
